<h1 class="text-center">Tasker</h1>
 
<div class="row">
    <div class="col">
        <form>
            <div class="mb-3">
                <label for="TaskNameInput" class="form-label">Task name</label>
                <input type="text" class="form-control" #taskName>
                <div id="TaskHelp" class="form-text">Specify the name of a new task</div>
            </div>
            <div class="mb-3">
              <label for="TaskDetailsInput" class="form-label">Task details</label>
              <input type="text" class="form-control" #taskDetails>
              <div id="TaskHelp" class="form-text">Specify the details of a new task</div>
          </div>
        </form>
        <button type="submit" class="btn btn-primary" (click)="addTask(taskName.value, taskDetails.value)">Add a new task</button>
    </div>
    <div class="col">
        <ul class="list-group" *ngFor="let task of tasks">
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      <h4>{{task.name | uppercase}}</h4>
                      <h5>{{task.details}}</h5>
                    </label>
                  </div>
            </li>
          </ul>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary mt-3 mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Add task</button>
            <button type="button" class="btn btn-primary mt-3 mx-1" (click)="clearTasks()">Clear the list</button>
          </div>
    </div>
    <div class="col"></div>
</div>

