<h1 class="text-center">Tasker</h1>
 
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="taskModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="mx-3">
          <div class="mb-3">
              <label for="TaskNameInput" class="form-label">Task name</label>
              <input type="text" class="form-control" #taskName>
              <div id="TaskHelp" class="form-text">Specify the name of a new task</div>
          </div>
          <div class="mb-3">
            <label for="TaskDetailsInput" class="form-label">Task details</label>
            <input type="text" class="form-control" #taskDetails>
            <div id="TaskHelp" class="form-text">Specify the details of a new task</div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="addTask(taskName.value, taskDetails.value)">Add a new task</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <div class="col">     
    </div>
    <div class="col">
      <div class="row mb-5">
        <ul class="list-group" *ngFor="let task of tasks">
          <li class="list-group-item">
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="taskStatus" #taskStatus (click)="onTaskDone(task.id)" [disabled]="![task.done]">
                  <label class="form-check-label d-flex justify-content-center" for="taskStatus">
                    <div class="dropdown">
                      <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false"><h4>{{task.name}}</h4></button>
                      <h5 class="dropdown-menu text-muted">{{task.details}}</h5>
                    </div>
                  </label>
                </div>
          </li>
        </ul>
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary mt-3 mx-1" data-bs-toggle="modal" data-bs-target="#taskModal">Add task</button>
          <button type="button" class="btn btn-primary mt-3 mx-1" (click)="clearTasks()">Clear the list</button>
        </div>
      </div>
          <div class="row mt-4">
            <ul class="list-group" *ngFor="let task of tasksDone">
              <li class="list-group-item">
                  <div class="form-check">
                      <label class="form-check-label d-flex justify-content-center opacity-50" for="taskStatus">
                        <div class="dropdown">
                          <h4>{{task.name}}</h4>
                        </div>
                      </label>
                    </div>
              </li>
            </ul>
          </div>
    </div>
    <div class="col">
    </div>
</div>

