<h1 class="text-center">Tasker</h1>
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
              <div class="mb-3">
                <label for="TaskNameInput" class="form-label">Task name</label>
                <input type="text" class="form-control" id="TaskNameInput" #taskName aria-describedby="TaskHelp">
                <div id="TaskHelp" class="form-text">Specify the name of a new task</div>
              </div>
              <div class="mb-3">
                <label for="TaskDetailsInput" class="form-label">Task details</label>
                <input type="text" class="form-control" id="TaskDetailsInput" aria-describedby="TaskDetailsHelp">
                <div id="TaskDetailsHelp" class="form-text">Specify the details of this new task</div>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary" (click)="addTask()">Add a new task</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col">
        <form>
            <div class="mb-3">
                <label for="TaskNameInput" class="form-label">Task name</label>
                <input type="text" class="form-control" #taskName>
                <div id="TaskHelp" class="form-text">Specify the name of a new task</div>
            </div>
        </form>
        <button type="submit" class="btn btn-primary" (click)="addTask()">Add a new task</button>
    </div>
    <div class="col">
        <ul class="list-group" *ngFor="let name of tasks">
            <li class="list-group-item">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      {{name}}
                    </label>
                  </div>
            </li>
          </ul>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary mt-3 mx-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Add task</button>
            <button type="button" class="btn btn-primary mt-3 mx-1" (click)="clearTasks()">Clear the list</button>
          </div>
    </div>
    <div class="col"></div>
</div>

