.theme {
    background-color:rgb(154, 159, 195);
}

mat-card {
    background-color: rgb(59, 40, 63);
}
mat-card-content {
    margin: 20px 20px 20px 20px;
    border-radius: 1%;
    background-color:rgb(144, 173, 219);
}
